@import url(https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js);
@import url(https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js);

:root{
    --primary-blue: #65c8d0;
    --lower-blue:#a3dee3;
    --lowest-blue: #c1e9ec;
    
    --primary-yellow: #fdf1b9;
    --lower-yellow: #fef7d5;
    --lowest-yellow: #fef9e3;

    --brown: #dd835a;
    --low-brown: #e49c7b;
    --white-brown: #f1cdbd;
    --black: #383838;
    --silver: #666666;
    --white: #c9c8bf;

    --header-height: 100px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height)- var(--navbar-height));

}

.icons{
    height: 45px;
    width: 45px;
}

.icons:hover{
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

html{
    font-size: 62.5%; /* = 10px tien su dung ve sau*/
    line-height: 1.6rem; /* 16px*/
   
}

/* for one roll, fix it please */
/* html, body, body>.page{
    height: 100%;
} */
