@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.upload{
  width: 125px;
  position: relative;
  margin: auto;
  z-index: 1;
  margin-top: 22px;
  margin-bottom: 12px;
}

.upload img{
  border-radius: 50%;
  border: 8px solid #DCDCDC;
  width: 125px;
  height: 125px;
}

.upload .round{
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #00B4FF;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  color: white;
}
.upload .round i{
  font-size: 15px;
}

.upload .round input[type = "file"]:hover{
  cursor: pointer;
}

.upload .round input[type = "file"]{
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}


/* quan ly san pham */
#productList {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 20px -20px 20px 50px;
  padding: 0;
}

#productList td, #productList th{
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 15px;
  text-decoration: none;
}

#productList td a{
  text-decoration: none;
  color: black;
}

#productList tr:nth-child(even){
  background-color: #f2f2f2;
}
#productList tr{
  background-color: #f2f2f2;
}
#productList tr:hover {background-color: #ddd;}

#productList th {
  padding: 12px 0;
  text-align: left;
  background-color: #00998c;
  color: white;
  font-size: 15px;
}
button{
  background-color: var(--lower-yellow);
  padding: 8px 16px;
} button a{
  color: var(--primary-blue);
  font-size: 20px;
  border-color: #DCDCDC;
}

a{
  text-decoration: none;
}

/* css product page */
*{

    padding: 0;
    margin: 0; 
}

body, html {
  height: 100%;
}

html body, html >.containt{

  height: 100%;
  width: 100%;
  background: url(../imgs/BG3.svg);

}

.containt h1{
  background-color: var(--primary-yellow);
  color: var(--primary-blue);
  width: 200px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin: 0px 20px 20px 50px;
  padding: 10px;
  border-radius: 30px;
  line-height: 30px;
}

.addBtn{
  margin: 20px 20px 20px 50px;
  border-radius: 20px;
  
}

/* logo */
.head-group{
  position:absolute;
  top: 0;
  margin: 20px;
  width: 100%;
}

.icon-logo{
  max-height: 100px;
  max-width: 100px;
}

.text-logo{
  color: var(--silver);
  text-decoration: none;
  font-size: 3em;
  font-weight: 270;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* user informatioon contatin*/
.user_info_containt{
  background: rgba(255 255 255 / 0.9);
    backdrop-filter: blur(5px);
    height: auto;
    width: 1000px;

    padding: 40px 40px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.12),
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
    border-radius: 15px;
    
    margin: -4% auto 0; 
    font-size: 15px;
}

.user_info_containt{
  background-color: #fef9e3;
  padding-top: 60px;
  display: flex;  
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.user_info_containt td{
  padding: 10px;
  text-align: left;

}


.user_info_containt input{
  border: 1px solid #c9c8bf;
  border-radius: 15px;
  padding: 10px;
  width: 400px;
}

/* code for button */
.button{
  display: flex;
  margin: 10px;
  text-align: center;
}

.button td{
  text-align: center;
}
.button a:hover,
.button input:hover {
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);  
          background-color: #666666;
          
}

.button a {
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
}


.button input,
.button a{
  cursor: pointer;
  width: 180px;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 5px 10px 5px 10px;
  position: relative;
  border: 2px solid #c9c8bf;
  border-radius: 20px;
  background-color: #e49c7b;   
  margin:10px;
  padding: 10px;
}

.button input{
  background-color: #00B4FF;
}

